Source: openfx-arena-natron
Section: video
Priority: optional
Maintainer: Hermann Vosseler <deb@ichthyostega.de>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 10),
	libopencolorio-dev (>= 1.0.9),
	libpoppler-glib-dev (>= 0.83~),
	libpoppler-private-dev (>= 0.83~),
# require ImageMagic with 16bit scale and unclamped float processing("HDRI")
	libmagick++-6.q16hdri-dev,
# tmp workaround since pkg-config (ImageMagick++-im6.Q16HDRI.pc) defines wrong dependency:
	libmagick++-dev,
	libsox-dev,
	libfontconfig1-dev,
	libpango1.0-dev,
	libcairo2-dev,
	librsvg2-dev,
	libcdr-dev,
	librevenge-dev,
	libgl1-mesa-dev,
	libffi-dev,
	libselinux1-dev,
	libmount-dev,
	libfftw3-dev,
	liblcms2-dev,
	libxml2-dev,
	libzip-dev,
    pkg-config,
	cmake

Package: openfx-arena-natron
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: extended set of OpenFX plugins designed for Natron
 The OpenFX plugins in this package can be used with Natron, but are also
 compatible with other OpenFX hosts. This package belongs to Natron
 release 3.2.14 and contains the following plugins:
 OpenRaster; ReadCDR; ReadKrita; ReadSVG; ReadPDF; Text(FX); Arc; Charcoal;
 Edges; Implode; Modulate; Oilpaint; Polar; Polaroid; ReadMisc; ReadPSD(XCF);
 Reflection; Roll; Sketch; Swirl; Texture; Tile; Wave; Bulge (OCL);
 Glare (OCL); Ripple (OCL); Twirl (OCL); Sharpen (OCL); Cartoon (OCL);
 Duotone (OCL); Edge (OCL); CLFilter (OCL); HaldCLUT; Morphology;
 AudioCurve; RichText

